@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
:root{

  /* ======= COLOR ======== */
  --primary-color:#FF7B47;
  --secondary-color-1:#0D5C63;
  --secondary-color-2:#17213C;
  --text-color:#252B42;
  --second-text-color:#737373;
  --light-text-color:#FFFFFF;
  --dark-background-color:#252B42;
  --light-background-color:#FFFFFF;
  --hover-color:#2A7CC7;
  --disabled-element-color:#8EC2F2;
  --muted-color:#BDBDBD;
  --success-color:#2DC071;
  --alert-color:#E77C40;
  --danger-color:#E74040;

  /* ====== FS ========== */
}


h1,h2,h3,h4,h5,li,p,span{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


body{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight: 500;
  font-style: normal;
  color: var(--second-text-color);
}

/* ------------- */

.container{
  max-width: 1046px;
  margin: 0 auto;
}
.text-block{
  width: 100%;
  text-align: center;

}
.text-block__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.text-block__text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;

}


/*  HEADER  */
#header{
  position: relative;
  width: 100%;
  height: 79vh;
  background-image: url('/assets/img/background.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 36px;
}
#header .nav{
  display: flex;
  align-items: center;

}
#header .nav__logo{
  font-size: 24px;
  color: var(--text-color);
  font-weight: 700;
}
#header .nav__list{
  display: flex;
  margin-left: 132px;
}
#header .nav__item:not(:first-child){
  margin-left: 21px;
}
#header .nav__link{
  color: var(--second-text-color);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2;
}

#header .l-header__content{
  margin-top: 80px;

}
#header .content__title{
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  color: #252B42;
  margin-bottom: 31px;
}

#header .content__text{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 31px;

}

#header .btn{
  max-width: 189px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 37px;

}

#header .btn:first-child{
  padding: 10px 36px;
  outline: none;
  border: none;
  background-color:var(--primary-color);
  color: var(--light-text-color);

}
#header .btn:last-child{
  margin-left: 3px;
  padding: 8px 35px;
  outline: none;
  border: 1px solid var(--secondary-color-1);
  background:none;
  color: var(--secondary-color-1);
}


#header .l-header__card{
  margin-top: 31px;
  display: flex;

}

#header .card-box{
  background: #FFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  max-width: 328px;
  max-height: 242px;
  padding:35px 40px;
}
#header .card-box:not(:first-child){
  margin-left: 30px;
}

#header .card-box .bi{
  color: #0D5C63;
  font-size: 34px;
  font-weight: bold;;
}

#header .card-box__title{
  font-size: 24px;
  color: var(--text-color);
  font-weight: 700px;
  line-height: 32px;
  margin-top: 13px;
  margin-bottom: 10px;
}

#header .card-box__text{
  font-size: 14px;
  line-height: 20px;
}


#header .card-box:last-child{
  background-color: var(--secondary-color-1)
}



#second_cad{
  margin-top: 279px;
}






@media screen and (min-width:1400px) {
  #header .l-header__card{
    margin-top: 40px;
  }

}



/*  */
